body{
    background-color: #E5E5DC;
    display: grid;
    grid-template-rows: 120px 1fr 45px;
}

h1, h2, p, a {
    color: #334259;
}

header{
    background-color: #A6CAD4;
    text-align: center;
    grid-row: 1/2;
}

main{
    grid-row: 2/3;
    display: grid;
}

nav a {
    color: black ;
}

#home-header{
    font-family: 'Montserrat', sans-serif;
}

footer{
    background-color: #A6CAD4;
    text-align: center;
    grid-row: 3/4;
}